<footer>
  <div class="container">
    <div class="row">
      <div class="col_12">

        <div class="sb__footer">

          <div>
              <figure>
                <img src="assets/images/logo-footer.png" alt="Sabion - Developer Challenge">
              </figure>
    
              <h4 >
                frontend
              </h4>
    
              <h5>
                developerchallenge
              </h5>
          </div>

        </div>

      </div>
    </div>
  </div>
</footer>